In [1]:
import pandas as pd

In [12]:
asset1_path = '../data/exchange1/test1.csv'
asset2_path = '../data/exchange1/test2.csv'
asset3_path = '../data/exchange1/test3.csv'

asset1 = pd.read_csv(asset1_path, index_col='DATE', parse_dates=True)
asset2 = pd.read_csv(asset2_path, index_col='DATE', parse_dates=True)
asset3 = pd.read_csv(asset3_path, index_col='DATE', parse_dates=True)
asset1

            OPEN  CLOSE
DATE
2000-06-06   100    101
2000-06-07   102    103
2000-06-08   104    105
2000-06-09   105    106

In [21]:
# calculate returns for each asset
asset2_returns = asset2["CLOSE"].pct_change()
asset3_returns = asset3["CLOSE"].pct_change()
# join returns into a single DataFrame on datetime index
returns = pd.concat([asset2_returns, asset3_returns], axis=1).dropna()
returns.columns = ['asset1', 'asset2']
# get the covariance between the first 3 rows 
cov = returns.iloc[:3].cov()
cov.values[1][1]

0.0065064574946305

In [23]:
# get the covariance between the 3 rows starting at index 1 
cov = returns.iloc[1:4].cov()
cov.values[1][1]

0.01945757994056865